*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color: #e7e7e7;
}

/* Config dos títulos */
h1 {
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
    color: red;
}

h2 {
    margin-top: 50px;
    font-size: 28px;
    color: red;
}

/* Config do Formulário */
form {
    display: flex;
    justify-content: center;
    margin: 16px;
}

input, button {
    font-size: 24px;
    margin: 8px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

button {
    background-color: #0da100;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #13d302;
}

/* Config Lista não Ordenada */
.lista-tarefas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-tarefas ul {
    margin: 20px;
}

ul li {
    margin: 20px;
}

ul li a {
    font-size: 24px;
    cursor: pointer;
    color: #0da100;
}

.item-clicado {
    text-decoration: line-through;
    color: red;
}